$colour-white: #fff;
$colour-black: #494A4C;

// blues
$colour-blue-100: #F2F7F9;
$colour-blue-200: #E0E7E9;
$colour-blue-500: #039BE5;
$colour-blue-600: #0277BD;
$colour-blue-700: #01579B;
$colour-blue-800: #003966;
$colour-blue-900: #002440;

// greys
$colour-grey-400: #788b9b;
$colour-grey-500: #6f777b;
$colour-grey-600: #545454;
$colour-greengrey-500: #306175;

// yellows
$colour-yellow-100: #FFFDE6;
$colour-yellow-500: #ffd346;