@font-face {
	font-family: 'Fira Mono';
	src: url('../fonts/FiraMono/FiraMono-Regular.woff2') format('woff2'),
		url('../fonts/FiraMono/FiraMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('../fonts/FiraMono/FiraMono-Medium.woff2') format('woff2'),
		url('../fonts/FiraMono/FiraMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('../fonts/FiraMono/FiraMono-Bold.woff2') format('woff2'),
		url('../fonts/FiraMono/FiraMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}