.nav ul {
	list-style: none;
	overflow-x: scroll;
	white-space: nowrap;
	font-size: 0px;
	@include mq($from: md) {
		white-space: normal;
		overflow-x: initial;
	}
}

.nav li {
	display: inline-block;
	line-height: 20px;
	font-size: 18px;
}

.nav a:link,
.nav a:visited {
	text-decoration: none;
	display: block;
	color: $colour-grey-600;
	padding: 15px 15px 15px;
	border-bottom: 5px solid #eee;
	@include mq($from: 600px) {
		padding-top: 17px;
		padding-bottom: 20px;
	}
}

.nav a:focus {
	position: relative;
	outline-offset: -3px;
}

.nav a:hover {
	color: $colour-black;
}

.nav a.nav-active {
	color: $colour-black;
	border-bottom: 5px solid #494A4C;
}