$multiple       : 5px !default;
$spacing-scale-1: $multiple;

// Multiples of 8px
$spacing-scale-2: $multiple * 2;
$spacing-scale-3: $multiple * 3;
$spacing-scale-4: $multiple * 4;
$spacing-scale-5: $multiple * 5;
$spacing-scale-6: $multiple * 6;
$spacing-scale-7: $multiple * 7;
$spacing-scale-8: $multiple * 8;
$spacing-scale-9: $multiple * 9;
$spacing-scale-10: $multiple * 10;