<footer class="footer">
  <div class="footer-measure">
    <div class="footer-logo">
      Amy Hupe
    </div>
    <div class="footer-nav">
      <ul class="footer-list">
        <li><a href="http://www.twitter.com/amy_hupe/">Twitter</a></li>
        <li><a href="http://www.github.com/amyhupe/">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/amy-hupe-61a3a368/">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</header>