<header class="header">
  <div class="header-measure">
    <div class="header-logo">
      <a href="/">Amy Hupe</a>
    </div>
    <div class="header-nav">
      {% include 'partials/nav.njk' %}
    </div>
  </div>
</header>