<nav class="nav">
  <ul>
    <li><a class="{% if id == "home" %}nav-active{% endif%}" href="/">Home</a></li>
    <li><a class="{% if id == "articles" %}nav-active{% endif%}" href="/articles/">Writing</a></li>
    <li><a class="{% if id == "speaking" %}nav-active{% endif%}" href="/speaking/">Speaking</a></li>
    <li><a class="{% if id == "contact" %}nav-active{% endif%}" href="/contact/">Contact</a></li>  
  </ul>
</nav>